@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap');

:root {
    --corTitulos:darkred;
    --backgroundTitulos: rgb(179, 89, 47);
}

#titulo-navbar {
    text-decoration: none;
    color: var(--corTitulos);
}

.titulo {
    font-family: 'Pacifico', cursive;
}

.imagem-carrossel {
    object-fit: cover;
    height: 540px;
}

#primeira-imagem-carrossel {
    object-position: 0 80%;
}

.titulo:not(h1) {
    color: var(--corTitulos);
}

.titulos {
    background-color: var(--backgroundTitulos);
    border-radius: 20%;
    color: white;
}

.card {
    max-width: 20rem;
    border-color: var(--corTitulos);
}

.position-card {
    object-fit: cover;
    height: 200px;
}

#botao-card {
    background-color: var(--corTitulos);
    border-color: var(--corTitulos);
    color: #fff;
}

@media screen and (max-width: 500px){
    .card {
        max-width: 80%;
    }

    .imagem-carrossel {
        object-fit: cover;
        height: 500px;
    }
     
    .nav-item, .nav-link, #input-search {
        margin-left: 10px;
    }
}












